# 데이터베이스 설정
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# Better Auth 설정
BETTER_AUTH_SECRET="your-secret-key-here-minimum-32-characters"
BETTER_AUTH_URL="http://localhost:3000"